.hero-banner {
    height: 100vh;
    @media (min-width: $md) {
        height: 60vh;
    }
}

.hero-title {
    font-family: 'Montserrat', sans-serif;
}

.hero-second-title {
    font-family: 'Nunito', sans-serif;
}

.what-we-do-svg {
    width: 100%;
    height: 20rem;
    @media (min-width: $md) {
        width: 40rem;
        height: 40rem;
    }
}

.why-consultpeer-items {
    width: 100%;

    :hover > svg {
        fill: $salmon;
    }

    @media (min-width: $md) {
        width: 31%;
    }
}