.c-Induction {
    &_header {
        font-size: 4rem;
        line-height: 4rem;
    }
    &_container {
        width: 100%;
    }
    &_categories {
        &_text {
            font-size: 3rem;
            line-height: 4rem;
        }
    }
}
