.modal {
    &--hidden {
        display: none;
    }
    &-container {
        @media (min-width: $md) {
            border-radius: 15px;
            box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
            width: 43rem;
            margin: 10% auto 0 auto;
            max-height: 90%;
            overflow: auto;
            bottom: unset;
        }

        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2100;
    }
    &-overlay {
        background: rgba(0, 0, 0, 0.3);
        z-index: 2000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &-header {
        display: flex;
        align-items: center;
        padding: 1rem;
    }
    &-title {
        font-size: 1.3rem;
    }
    &-buttons {
        margin-left: auto;
    }
    &-body {
        padding: 0 1rem;
    }
    &-footer {
        padding: 1rem;
    }
}
