.fadeOut {
    animation: fadeOut forwards 3s;
    -webkit-animation: fadeOut forwards 3s;
    -moz-animation: fadeOut forwards 3s;
    -o-animation: fadeOut forwards 3s;
    -ms-animation: fadeOut forwards 3s;
}
