.input-default {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgba(209, 213, 219, 1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    &:focus {
        border-bottom: 2px solid #FA8186 !important;
    }
    //shadow-sm border-t-0 border-l-0 border-r-0 border-b-2 border-gray-300 focus:border-theme-salmon focus:ring-0
}